<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>msg</key>
	<string>ok</string>
	<key>result</key>
	<dict>
		<key>list</key>
		<array>
			<dict>
				<key>addtime</key>
				<string>2017-02-18 02:40:05</string>
				<key>content</key>
				<string>你猜猜看，咋回事~~~</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201702/18024005_96727.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-48690.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2017-02-18 02:40:05</string>
				<key>content</key>
				<string>这样的图，我也能看污，没救了。</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201702/18024004_10865.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-48683.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2017-02-18 02:40:04</string>
				<key>content</key>
				<string>肩上的担子一下重了很多</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201702/18024004_73122.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-48668.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2017-02-18 02:40:03</string>
				<key>content</key>
				<string>可怕，这次真的吓到了…</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201702/18024003_56336.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-48664.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2017-02-18 02:40:03</string>
				<key>content</key>
				<string>口味很重啊</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201702/18024003_77844.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-48663.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2017-02-18 02:40:03</string>
				<key>content</key>
				<string>这就叫脑袋被驴踢了</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201702/18024003_58791.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-48660.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2017-02-18 02:40:03</string>
				<key>content</key>
				<string>火柴 从前有个火柴，有一天突然发现自己的头很痒，然后一直蹭啊蹭啊，之后把自己给蹭没了～</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201702/18024003_18033.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-48648.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2017-02-18 02:40:02</string>
				<key>content</key>
				<string>弥勒佛决定再也不参加酒局了，谁请都不去了。 弥勒佛决定再也不参加酒局了，谁请都不去了。 因为每次不管他已经醉成啥样，只要人家问：“胖子，还喝不喝？” 他总是会倒霉催地说一句：“呵呵。”</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201702/18024002_32621.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-48638.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-23 02:40:03</string>
				<key>content</key>
				<string>“老师这是我的默写”
“嗯。嗯？”</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/23024003_68011.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-41720.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-23 02:40:03</string>
				<key>content</key>
				<string>大半夜的，还下着小雨，就因为我说了一句有点饿了。兄弟就冒着雨出去买吃的，为这么好的兄弟赞一个！！妈的，媳妇也不过如此！兄弟今年考研，祝他能考上理想的学校！！</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/23024003_51728.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-41719.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-23 02:40:02</string>
				<key>content</key>
				<string>双十一寝室吃烧烤，一个都不能少</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/23024002_15479.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-41686.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-23 02:40:02</string>
				<key>content</key>
				<string>因年底手头较紧，现作墨宝《八骏图》一副，一口价888万，艺术品谢绝还价。[微笑]想买的抓紧，要是等右下角那两匹马下崽就不是这个价咯！</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/23024002_56695.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-41593.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-22 02:40:03</string>
				<key>content</key>
				<string>“老师这是我的默写”
“嗯。嗯？”</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/22024003_77813.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-41416.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-22 02:40:03</string>
				<key>content</key>
				<string>大半夜的，还下着小雨，就因为我说了一句有点饿了。兄弟就冒着雨出去买吃的，为这么好的兄弟赞一个！！妈的，媳妇也不过如此！兄弟今年考研，祝他能考上理想的学校！！</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/22024003_73564.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-41415.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-22 02:40:03</string>
				<key>content</key>
				<string>双十一寝室吃烧烤，一个都不能少</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/22024002_55618.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-41382.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-22 02:40:02</string>
				<key>content</key>
				<string>因年底手头较紧，现作墨宝《八骏图》一副，一口价888万，艺术品谢绝还价。[微笑]想买的抓紧，要是等右下角那两匹马下崽就不是这个价咯！</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/22024002_61985.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-41289.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-21 02:40:03</string>
				<key>content</key>
				<string>“老师这是我的默写”
“嗯。嗯？”</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/21024003_80818.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-41116.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-21 02:40:03</string>
				<key>content</key>
				<string>大半夜的，还下着小雨，就因为我说了一句有点饿了。兄弟就冒着雨出去买吃的，为这么好的兄弟赞一个！！妈的，媳妇也不过如此！兄弟今年考研，祝他能考上理想的学校！！</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/21024003_42858.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-41115.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-21 02:40:02</string>
				<key>content</key>
				<string>双十一寝室吃烧烤，一个都不能少</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/21024002_65213.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-41082.html</string>
			</dict>
			<dict>
				<key>addtime</key>
				<string>2016-12-21 02:40:01</string>
				<key>content</key>
				<string>因年底手头较紧，现作墨宝《八骏图》一副，一口价888万，艺术品谢绝还价。[微笑]想买的抓紧，要是等右下角那两匹马下崽就不是这个价咯！</string>
				<key>pic</key>
				<string>http://api.jisuapi.com/xiaohua/upload/201612/21024001_70092.jpg</string>
				<key>url</key>
				<string>http://m.kaixinhui.com/detail-40989.html</string>
			</dict>
		</array>
		<key>pagenum</key>
		<string>1</string>
		<key>pagesize</key>
		<string>20</string>
		<key>total</key>
		<string>2699</string>
	</dict>
	<key>status</key>
	<string>0</string>
</dict>
</plist>
